body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6904 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:152px;
  width:1007px;
  height:404px;
}
#u6905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:68px;
  display:flex;
  transition:none;
}
#u6905 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:68px;
}
#u6905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6906 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:0px;
  width:82px;
  height:68px;
  display:flex;
  transition:none;
}
#u6906 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:68px;
}
#u6906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6907 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:0px;
  width:101px;
  height:68px;
  display:flex;
  transition:none;
}
#u6907 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:68px;
}
#u6907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6908 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:0px;
  width:117px;
  height:68px;
  display:flex;
  transition:none;
}
#u6908 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:68px;
}
#u6908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6909 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:0px;
  width:91px;
  height:68px;
  display:flex;
  transition:none;
}
#u6909 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:68px;
}
#u6909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6910 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:0px;
  width:82px;
  height:68px;
  display:flex;
  transition:none;
}
#u6910 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:68px;
}
#u6910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6911 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:0px;
  width:113px;
  height:68px;
  display:flex;
  transition:none;
}
#u6911 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:68px;
}
#u6911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6912 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:0px;
  width:77px;
  height:68px;
  display:flex;
  transition:none;
}
#u6912 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:68px;
}
#u6912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6913 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:0px;
  width:123px;
  height:68px;
  display:flex;
  transition:none;
}
#u6913 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:68px;
}
#u6913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6914 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:0px;
  width:118px;
  height:68px;
  display:flex;
  transition:none;
}
#u6914 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:68px;
}
#u6914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:103px;
  height:84px;
  display:flex;
  transition:none;
}
#u6915 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:84px;
}
#u6915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6916 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:68px;
  width:82px;
  height:84px;
  display:flex;
  transition:none;
}
#u6916 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:84px;
}
#u6916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6917 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:68px;
  width:101px;
  height:84px;
  display:flex;
  transition:none;
}
#u6917 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:84px;
}
#u6917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6918 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:68px;
  width:117px;
  height:84px;
  display:flex;
  transition:none;
}
#u6918 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:84px;
}
#u6918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6919 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:68px;
  width:91px;
  height:84px;
  display:flex;
  transition:none;
}
#u6919 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:84px;
}
#u6919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6920 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:68px;
  width:82px;
  height:84px;
  display:flex;
  transition:none;
}
#u6920 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:84px;
}
#u6920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6921 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:68px;
  width:113px;
  height:84px;
  display:flex;
  transition:none;
}
#u6921 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:84px;
}
#u6921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6922 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:68px;
  width:77px;
  height:84px;
  display:flex;
  transition:none;
}
#u6922 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:84px;
}
#u6922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6923 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:68px;
  width:123px;
  height:84px;
  display:flex;
  transition:none;
}
#u6923 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:84px;
}
#u6923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6924 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:68px;
  width:118px;
  height:84px;
  display:flex;
  transition:none;
}
#u6924 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:84px;
}
#u6924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:103px;
  height:84px;
  display:flex;
  transition:none;
}
#u6925 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:84px;
}
#u6925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6926 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:152px;
  width:82px;
  height:84px;
  display:flex;
  transition:none;
}
#u6926 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:84px;
}
#u6926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6927 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:152px;
  width:101px;
  height:84px;
  display:flex;
  transition:none;
}
#u6927 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:84px;
}
#u6927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6928 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:152px;
  width:117px;
  height:84px;
  display:flex;
  transition:none;
}
#u6928 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:84px;
}
#u6928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6929 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:152px;
  width:91px;
  height:84px;
  display:flex;
  transition:none;
}
#u6929 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:84px;
}
#u6929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6930 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:152px;
  width:82px;
  height:84px;
  display:flex;
  transition:none;
}
#u6930 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:84px;
}
#u6930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6931 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:152px;
  width:113px;
  height:84px;
  display:flex;
  transition:none;
}
#u6931 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:84px;
}
#u6931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6932 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:152px;
  width:77px;
  height:84px;
  display:flex;
  transition:none;
}
#u6932 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:84px;
}
#u6932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6933 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:152px;
  width:123px;
  height:84px;
  display:flex;
  transition:none;
}
#u6933 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:84px;
}
#u6933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6934 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:152px;
  width:118px;
  height:84px;
  display:flex;
  transition:none;
}
#u6934 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:84px;
}
#u6934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:236px;
  width:103px;
  height:84px;
  display:flex;
  transition:none;
}
#u6935 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:84px;
}
#u6935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6936 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:236px;
  width:82px;
  height:84px;
  display:flex;
  transition:none;
}
#u6936 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:84px;
}
#u6936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6937 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:236px;
  width:101px;
  height:84px;
  display:flex;
  transition:none;
}
#u6937 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:84px;
}
#u6937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6938 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:236px;
  width:117px;
  height:84px;
  display:flex;
  transition:none;
}
#u6938 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:84px;
}
#u6938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6939 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:236px;
  width:91px;
  height:84px;
  display:flex;
  transition:none;
}
#u6939 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:84px;
}
#u6939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6940 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:236px;
  width:82px;
  height:84px;
  display:flex;
  transition:none;
}
#u6940 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:84px;
}
#u6940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6941 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:236px;
  width:113px;
  height:84px;
  display:flex;
  transition:none;
}
#u6941 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:84px;
}
#u6941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6942 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:236px;
  width:77px;
  height:84px;
  display:flex;
  transition:none;
}
#u6942 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:84px;
}
#u6942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6943 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:236px;
  width:123px;
  height:84px;
  display:flex;
  transition:none;
}
#u6943 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:84px;
}
#u6943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6944 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:236px;
  width:118px;
  height:84px;
  display:flex;
  transition:none;
}
#u6944 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:84px;
}
#u6944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:103px;
  height:84px;
  display:flex;
  transition:none;
}
#u6945 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:84px;
}
#u6945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6946 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:320px;
  width:82px;
  height:84px;
  display:flex;
  transition:none;
}
#u6946 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:84px;
}
#u6946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6947 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:320px;
  width:101px;
  height:84px;
  display:flex;
  transition:none;
}
#u6947 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:84px;
}
#u6947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6948 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:320px;
  width:117px;
  height:84px;
  display:flex;
  transition:none;
}
#u6948 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:84px;
}
#u6948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6949 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:320px;
  width:91px;
  height:84px;
  display:flex;
  transition:none;
}
#u6949 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:84px;
}
#u6949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6950 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:320px;
  width:82px;
  height:84px;
  display:flex;
  transition:none;
}
#u6950 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:84px;
}
#u6950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6951 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:320px;
  width:113px;
  height:84px;
  display:flex;
  transition:none;
}
#u6951 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:84px;
}
#u6951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6952 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:320px;
  width:77px;
  height:84px;
  display:flex;
  transition:none;
}
#u6952 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:84px;
}
#u6952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6953 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:320px;
  width:123px;
  height:84px;
  display:flex;
  transition:none;
}
#u6953 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:84px;
}
#u6953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6954 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:320px;
  width:118px;
  height:84px;
  display:flex;
  transition:none;
}
#u6954 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:84px;
}
#u6954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Nunito Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6955 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:33px;
  width:1px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Nunito Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6955 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6955_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u6956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6956 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:49px;
  width:72px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6956 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6956_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6957_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6957_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6957_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6957_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6957_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6957_input.mouseOver.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6957_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6957_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6957 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:95px;
  width:154px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6957_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6957.mouseOver {
}
#u6957_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 2.5px rgba(64, 158, 255, 0.24705882352941178));
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6957.focused {
}
#u6957_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6957.hint {
}
#u6957_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6957.disabled {
}
#u6957_div.mouseOver.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6957.mouseOver.hint {
}
#u6957_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 2.5px rgba(64, 158, 255, 0.24705882352941178));
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6957.focused.hint {
}
#u6957_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6957.hint.disabled {
}
#u6958_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6958_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6958_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6958_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6958_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6958_input.mouseOver.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6958_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6958_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6958 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:95px;
  width:154px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6958_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6958.mouseOver {
}
#u6958_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 2.5px rgba(64, 158, 255, 0.24705882352941178));
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6958.focused {
}
#u6958_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6958.hint {
}
#u6958_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6958.disabled {
}
#u6958_div.mouseOver.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6958.mouseOver.hint {
}
#u6958_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 2.5px rgba(64, 158, 255, 0.24705882352941178));
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6958.focused.hint {
}
#u6958_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6958.hint.disabled {
}
#u6959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u6960 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:90px;
  width:50px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u6960 .text {
  position:absolute;
  align-self:center;
  padding:0px 15px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6961 {
  position:absolute;
  left:84px;
  top:90px;
}
#u6961_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6961_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:43px;
  width:152px;
  height:210px;
  visibility:hidden;
}
#u6962_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:210px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.14901960784313725);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.14901960784313725);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.14901960784313725);
}
#u6962_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6962_state0_content {
  left:-1px;
  top:-1px;
}
.u6964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.u6964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.u6964 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u6964_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.u6964.mouseOver {
}
.u6964_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.u6964.selected {
}
.u6964_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.u6964.mouseOver.selected {
}
.u6964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
}
#u6965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u6966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u6966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6966_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u6966.mouseOver {
}
#u6966_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 2.5px rgba(64, 158, 255, 0.24705882352941178));
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u6966.selected {
}
#u6966_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u6966.disabled {
}
#u6966_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 2.5px rgba(64, 158, 255, 0.24705882352941178));
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u6966.mouseOver.selected {
}
#u6966_div.selected.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 2.5px rgba(64, 158, 255, 0.24705882352941178));
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u6966.selected.disabled {
}
#u6966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u6967 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:0px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u6967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6968_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:31px;
  padding:2px 15px 2px 15px;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6968_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:31px;
  padding:2px 15px 2px 15px;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u6968 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:95px;
  width:154px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6968 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 15px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u6968_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u6968.disabled {
}
.u6968_input_option {
}
#u6969 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:95px;
  width:200px;
  height:40px;
}
#u6970 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:0px;
  width:90px;
  height:40px;
}
#u6971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#FFFFFF;
}
#u6972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6973 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:0px;
  width:45px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6974 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:4px;
  width:26px;
  height:30px;
  display:flex;
  transition:none;
}
#u6974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u6974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u6976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#FFFFFF;
}
#u6977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6979 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:0px;
  width:45px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6980 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u6980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
