body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1580px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4783 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:1193px;
  width:1260px;
  height:100px;
}
#u4784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:100px;
  display:flex;
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u4784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:100px;
}
#u4784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1520px;
  height:1103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.047058823529411764));
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u4785 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:70px;
  width:1520px;
  height:1103px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u4785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1103px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
#u4786 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:70px;
  width:200px;
  height:1103px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
#u4786 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 0px 210px;
  box-sizing:border-box;
  width:100%;
}
#u4786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4788 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:150px;
  width:200px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4788 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 70px;
  box-sizing:border-box;
  width:100%;
}
#u4788_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4788.mouseOver {
}
#u4788_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.09803921568627451);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4788.selected {
}
#u4788_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.09803921568627451);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4788.mouseOver.selected {
}
#u4788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4789 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:100px;
  width:200px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4789 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 70px;
  box-sizing:border-box;
  width:100%;
}
#u4789_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4789.mouseOver {
}
#u4789_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.09803921568627451);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4789.selected {
}
#u4789_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.09803921568627451);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4789.mouseOver.selected {
}
#u4789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4790 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:200px;
  width:200px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4790 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 70px;
  box-sizing:border-box;
  width:100%;
}
#u4790_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4790.mouseOver {
}
#u4790_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.09803921568627451);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4790.selected {
}
#u4790_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.09803921568627451);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4790.mouseOver.selected {
}
#u4790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4791 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:300px;
  width:200px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4791 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 70px;
  box-sizing:border-box;
  width:100%;
}
#u4791_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4791.mouseOver {
}
#u4791_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.09803921568627451);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4791.selected {
}
#u4791_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.09803921568627451);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4791.mouseOver.selected {
}
#u4791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4792 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:250px;
  width:200px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4792 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 70px;
  box-sizing:border-box;
  width:100%;
}
#u4792_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4792.mouseOver {
}
#u4792_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.09803921568627451);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4792.selected {
}
#u4792_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.09803921568627451);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4792.mouseOver.selected {
}
#u4792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:40px;
}
#u4793 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:80px;
  width:1220px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:40px;
}
#u4793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4793_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:80px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:40px;
}
#u4793.selected {
}
#u4793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:891px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u4795 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:217px;
  width:1220px;
  height:891px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u4795 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4795_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:891px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u4795.selected {
}
#u4795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:35px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:40px;
}
#u4796 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:162px;
  width:1220px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:40px;
}
#u4796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4796_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:35px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:40px;
}
#u4796.selected {
}
#u4796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#999999;
}
#u4797 {
  border-width:0px;
  position:absolute;
  left:1431px;
  top:105px;
  width:70px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#999999;
}
#u4797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4797_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(122, 187, 255, 0.996078431372549);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#999999;
}
#u4797.mouseOver {
}
#u4797_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#999999;
}
#u4797.mouseDown {
}
#u4797_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#999999;
}
#u4797.disabled {
  opacity:0.7;
}
#u4797_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#999999;
}
#u4797.mouseOver.mouseDown {
}
#u4797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
