body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u32154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1327px;
  height:791px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.047058823529411764));
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u32154 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:63px;
  width:1327px;
  height:791px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u32154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u32154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1327px;
  height:60px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u32155 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:63px;
  width:1327px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u32155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u32155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32156 {
  position:fixed;
  right:0px;
  bottom:20px;
  visibility:hidden;
}
#u32156_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:350px;
  height:73px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32156_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.09803921568627451));
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u32157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:73px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u32157 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 20px 15px 60px;
  box-sizing:border-box;
  width:100%;
}
#u32157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#19BE6B;
}
#u32158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#19BE6B;
}
#u32158 .text {
  position:absolute;
  align-self:center;
  padding:2px 0px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#CCCCCC;
}
#u32159 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:0px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#CCCCCC;
}
#u32159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32159_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  color:#CCCCCC;
}
#u32159.mouseOver {
}
#u32159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32160 {
  position:fixed;
  left:50%;
  margin-left:-240px;
  top:50%;
  margin-top:-180px;
  visibility:hidden;
}
#u32160_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:480px;
  height:360px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32160_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.14901960784313725));
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u32161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:360px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u32161 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u32161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(0px 1px 0.5px rgba(233, 233, 233, 1));
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u32162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u32162 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u32162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u32163 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:0px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u32163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32163_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u32163.mouseOver {
}
#u32163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
}
#u32164 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:70px;
  width:350px;
  height:117px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-style:normal;
}
#u32164 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u32165 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:199px;
  width:160px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u32165 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32165_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 177, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u32165.mouseOver {
}
#u32165_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(43, 133, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u32165.mouseDown {
}
#u32165_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u32165.disabled {
  opacity:0.7;
}
#u32165_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(43, 133, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u32165.mouseOver.mouseDown {
}
#u32165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u32166 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:259px;
  width:160px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u32166 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32166_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(122, 187, 255, 0.996078431372549);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u32166.mouseOver {
}
#u32166_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u32166.mouseDown {
}
#u32166_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u32166.disabled {
  opacity:0.7;
}
#u32166_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u32166.mouseOver.mouseDown {
}
#u32166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32160_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:470px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u32160_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:470px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.14901960784313725));
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u32167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:470px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u32167 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u32167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(0px 1px 0.5px rgba(233, 233, 233, 1));
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u32168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u32168 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u32168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u32169 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:389px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u32169 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32169_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(122, 187, 255, 0.996078431372549);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u32169.mouseOver {
}
#u32169_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u32169.mouseDown {
}
#u32169_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u32169.disabled {
  opacity:0.7;
}
#u32169_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u32169.mouseOver.mouseDown {
}
#u32169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u32170 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:70px;
  width:300px;
  height:300px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u32170 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u32171 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:389px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u32171 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32171_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 177, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u32171.mouseOver {
}
#u32171_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(43, 133, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u32171.mouseDown {
}
#u32171_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u32171.disabled {
  opacity:0.7;
}
#u32171_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(43, 133, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u32171.mouseOver.mouseDown {
}
#u32171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:100px;
  color:#CCCCCC;
  line-height:20px;
}
#u32172 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:110px;
  width:120px;
  height:120px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:100px;
  color:#CCCCCC;
  line-height:20px;
}
#u32172 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:60px;
  color:#CCCCCC;
  line-height:20px;
}
#u32173 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:230px;
  width:120px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:60px;
  color:#CCCCCC;
  line-height:20px;
}
#u32173 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:30px;
  color:#CCCCCC;
  line-height:20px;
}
#u32174 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:309px;
  width:120px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:30px;
  color:#CCCCCC;
  line-height:20px;
}
#u32174 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:120px;
  color:#FFFFFF;
  line-height:28px;
}
#u32175 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:130px;
  width:300px;
  height:180px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:120px;
  color:#FFFFFF;
  line-height:28px;
}
#u32175 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u32176 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:130px;
  width:180px;
  height:180px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u32176 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u32177 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:304px;
  width:10px;
  height:10px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u32177 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u32178 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:70px;
  width:120px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u32178 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u32179 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:0px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u32179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32179_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u32179.mouseOver {
}
#u32179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32180 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:244px;
  width:911px;
  height:120px;
}
#u32181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  transition:none;
}
#u32181 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u32181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u32181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32182 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:621px;
  height:40px;
  display:flex;
  transition:none;
}
#u32182 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u32182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:40px;
}
#u32182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32183 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:0px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
}
#u32183 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u32183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u32183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:40px;
  display:flex;
  transition:none;
}
#u32184 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u32184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u32184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32185 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:40px;
  width:621px;
  height:40px;
  display:flex;
  transition:none;
}
#u32185 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u32185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:40px;
}
#u32185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32186 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:40px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
}
#u32186 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u32186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u32186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:40px;
  display:flex;
  transition:none;
}
#u32187 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u32187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u32187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32188 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:80px;
  width:621px;
  height:40px;
  display:flex;
  transition:none;
}
#u32188 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u32188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:40px;
}
#u32188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32189 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:80px;
  width:190px;
  height:40px;
  display:flex;
  transition:none;
}
#u32189 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u32189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u32189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#AAAAAA;
}
#u32190 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:199px;
  width:226px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  color:#AAAAAA;
}
#u32190 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u32191 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:450px;
  width:120px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u32191 .text {
  position:absolute;
  align-self:center;
  padding:0px 15px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32192_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32192_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32192_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32192_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32192_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32192_input.mouseOver.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32192_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32192_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  padding:2px 2px 2px 10px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u32192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u32192 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:450px;
  width:400px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u32192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u32192_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u32192.mouseOver {
}
#u32192_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 2.5px rgba(64, 158, 255, 0.24705882352941178));
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u32192.focused {
}
#u32192_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u32192.hint {
}
#u32192_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u32192.disabled {
}
#u32192_div.mouseOver.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u32192.mouseOver.hint {
}
#u32192_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 2.5px rgba(64, 158, 255, 0.24705882352941178));
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u32192.focused.hint {
}
#u32192_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u32192.hint.disabled {
}
#u32193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u32193 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:450px;
  width:82px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32193 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u32193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  background:inherit;
  background-color:rgba(254, 243, 243, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 152, 152, 0.996078431372549);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#F56C6C;
}
#u32194 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:332px;
  width:56px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#F56C6C;
}
#u32194 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u32194_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  background:inherit;
  background-color:rgba(245, 108, 108, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 108, 108, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#F56C6C;
}
#u32194.mouseOver {
}
#u32194_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  background:inherit;
  background-color:rgba(221, 97, 97, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 97, 97, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#F56C6C;
}
#u32194.mouseDown {
}
#u32194_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  background:inherit;
  background-color:rgba(254, 243, 243, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(248, 152, 152, 0.996078431372549);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#F56C6C;
}
#u32194.disabled {
  opacity:0.7;
}
#u32194_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  background:inherit;
  background-color:rgba(221, 97, 97, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 97, 97, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#F56C6C;
}
#u32194.mouseOver.mouseDown {
}
#u32194_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u32195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:867px;
  width:1600px;
  height:1804px;
}
#u32195_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1804px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32195_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32195_state0_content {
  left:-1px;
  top:-1px;
}
#u32196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32196 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:0px;
  width:300px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32197 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:74px;
  width:656px;
  height:77px;
}
#u32198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:19px;
  display:flex;
  transition:none;
}
#u32198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:19px;
}
#u32198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32199 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:0px;
  width:219px;
  height:19px;
  display:flex;
  transition:none;
}
#u32199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:19px;
}
#u32199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32200 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:0px;
  width:218px;
  height:19px;
  display:flex;
  transition:none;
}
#u32200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:19px;
}
#u32200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:219px;
  height:20px;
  display:flex;
  transition:none;
}
#u32201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:20px;
}
#u32201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32202 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:19px;
  width:219px;
  height:20px;
  display:flex;
  transition:none;
}
#u32202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:20px;
}
#u32202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32203 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:19px;
  width:218px;
  height:20px;
  display:flex;
  transition:none;
}
#u32203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:20px;
}
#u32203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:219px;
  height:38px;
  display:flex;
  transition:none;
}
#u32204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:38px;
}
#u32204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32205 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:39px;
  width:219px;
  height:38px;
  display:flex;
  transition:none;
}
#u32205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:38px;
}
#u32205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32206 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:39px;
  width:218px;
  height:38px;
  display:flex;
  transition:none;
}
#u32206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:38px;
}
#u32206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u32207 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:291px;
  width:156px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u32207 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32207_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
