body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1580px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4550 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:1480px;
  width:1260px;
  height:100px;
}
#u4551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:100px;
  display:flex;
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u4551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:100px;
}
#u4551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1520px;
  height:1390px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.047058823529411764));
  transition:none;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u4552 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:70px;
  width:1520px;
  height:1390px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u4552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1390px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
#u4553 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:70px;
  width:200px;
  height:1390px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
#u4553 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 0px 210px;
  box-sizing:border-box;
  width:100%;
}
#u4553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u4554 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:90px;
  width:1320px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u4554 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 50px;
  box-sizing:border-box;
  width:100%;
}
#u4554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4555 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:1354px;
  width:507px;
  height:35px;
}
#u4556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4557 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:0px;
  width:35px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#999999;
}
#u4557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4557_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4557.mouseOver {
}
#u4557_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4557.selected {
}
#u4557_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4557.disabled {
}
#u4557_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4557.mouseOver.selected {
}
#u4557_div.selected.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4557.selected.disabled {
}
#u4557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4558 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:0px;
  width:35px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#999999;
}
#u4558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4558_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4558.mouseOver {
}
#u4558_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4558.selected {
}
#u4558_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4558.disabled {
}
#u4558_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4558.mouseOver.selected {
}
#u4558_div.selected.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4558.selected.disabled {
}
#u4558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4559 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:0px;
  width:35px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#999999;
}
#u4559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4559_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4559.mouseOver {
}
#u4559_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4559.selected {
}
#u4559_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4559.disabled {
}
#u4559_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4559.mouseOver.selected {
}
#u4559_div.selected.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4559.selected.disabled {
}
#u4559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4560 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:0px;
  width:35px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#999999;
}
#u4560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4560_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4560.mouseOver {
}
#u4560_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4560.selected {
}
#u4560_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4560.disabled {
}
#u4560_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4560.mouseOver.selected {
}
#u4560_div.selected.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4560.selected.disabled {
}
#u4560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4561_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4561.mouseOver {
}
#u4561_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4561.selected {
}
#u4561_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4561.disabled {
}
#u4561_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4561.mouseOver.selected {
}
#u4561_div.selected.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4561.selected.disabled {
}
#u4561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4562 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:0px;
  width:35px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#999999;
}
#u4562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4562_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4562.mouseOver {
}
#u4562_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4562.selected {
}
#u4562_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4562.disabled {
}
#u4562_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4562.mouseOver.selected {
}
#u4562_div.selected.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4562.selected.disabled {
}
#u4562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4563 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:0px;
  width:35px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4563_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4563.mouseOver {
}
#u4563_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4563.selected {
}
#u4563_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4563.disabled {
}
#u4563_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4563.mouseOver.selected {
}
#u4563_div.selected.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u4563.selected.disabled {
}
#u4563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4564 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:0px;
  width:35px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4564_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4564.mouseOver {
}
#u4564_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4564.selected {
}
#u4564_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4564.disabled {
}
#u4564_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4564.mouseOver.selected {
}
#u4564_div.selected.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4564.selected.disabled {
}
#u4564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4565 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:0px;
  width:35px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#999999;
}
#u4565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4565_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4565.mouseOver {
}
#u4565_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4565.selected {
}
#u4565_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4565.disabled {
}
#u4565_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4565.mouseOver.selected {
}
#u4565_div.selected.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4565.selected.disabled {
}
#u4565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4566 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:0px;
  width:94px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#999999;
}
#u4566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4566_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4566.mouseOver {
}
#u4566_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4566.selected {
}
#u4566_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4566.disabled {
}
#u4566_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4566.mouseOver.selected {
}
#u4566_div.selected.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
}
#u4566.selected.disabled {
}
#u4566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4567 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4568 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:150px;
  width:200px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4568 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 70px;
  box-sizing:border-box;
  width:100%;
}
#u4568_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4568.mouseOver {
}
#u4568_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.09803921568627451);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4568.selected {
}
#u4568_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.09803921568627451);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4568.mouseOver.selected {
}
#u4568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4569 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:100px;
  width:200px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4569 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 70px;
  box-sizing:border-box;
  width:100%;
}
#u4569_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4569.mouseOver {
}
#u4569_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.09803921568627451);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4569.selected {
}
#u4569_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.09803921568627451);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4569.mouseOver.selected {
}
#u4569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4570 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:200px;
  width:200px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4570 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 70px;
  box-sizing:border-box;
  width:100%;
}
#u4570_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4570.mouseOver {
}
#u4570_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.09803921568627451);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4570.selected {
}
#u4570_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.09803921568627451);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4570.mouseOver.selected {
}
#u4570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4571 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:300px;
  width:200px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4571 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 70px;
  box-sizing:border-box;
  width:100%;
}
#u4571_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4571.mouseOver {
}
#u4571_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.09803921568627451);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4571.selected {
}
#u4571_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.09803921568627451);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4571.mouseOver.selected {
}
#u4571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4572 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:250px;
  width:200px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4572 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 70px;
  box-sizing:border-box;
  width:100%;
}
#u4572_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4572.mouseOver {
}
#u4572_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.09803921568627451);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4572.selected {
}
#u4572_div.mouseOver.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 0.09803921568627451);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
#u4572.mouseOver.selected {
}
#u4572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u4574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u4575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 237, 237, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
  line-height:28px;
}
.u4575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:96px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
  line-height:28px;
}
.u4575 .text {
  position:absolute;
  align-self:flex-start;
  padding:20px 20px 20px 100px;
  box-sizing:border-box;
  width:100%;
}
.u4575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u4576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:34px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Font Awesome 5 Brands", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
.u4576 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:23px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Font Awesome 5 Brands", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
.u4576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u4576_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:34px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Font Awesome 5 Brands", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
.u4576.mouseOver {
}
.u4576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u4577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:96px;
  background:inherit;
  background-color:rgba(245, 245, 245, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
  text-align:right;
  line-height:20px;
}
.u4577 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:0px;
  width:183px;
  height:96px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#999999;
  text-align:right;
  line-height:20px;
}
.u4577 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
.u4577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4573 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:212px;
  width:1220px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u4578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:60px;
  background:inherit;
  background-color:rgba(245, 245, 245, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u4578 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:150px;
  width:1220px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u4578 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u4580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u4581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 237, 237, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
  line-height:28px;
}
.u4581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:96px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
  line-height:28px;
}
.u4581 .text {
  position:absolute;
  align-self:flex-start;
  padding:20px 20px 20px 100px;
  box-sizing:border-box;
  width:100%;
}
.u4581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u4582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:34px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Font Awesome 5 Brands", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
.u4582 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:23px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Font Awesome 5 Brands", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
.u4582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u4582_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:34px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Font Awesome 5 Brands", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
.u4582.mouseOver {
}
.u4582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u4583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:96px;
  background:inherit;
  background-color:rgba(245, 245, 245, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#999999;
  text-align:right;
  line-height:20px;
}
.u4583 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:0px;
  width:183px;
  height:96px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#999999;
  text-align:right;
  line-height:20px;
}
.u4583 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
.u4583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4579 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:814px;
  width:1220px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
}
#u4584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:60px;
  background:inherit;
  background-color:rgba(245, 245, 245, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u4584 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:752px;
  width:1220px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u4584 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
