body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:680px;
}
#u2604 {
  position:fixed;
  left:0px;
  top:50%;
  margin-top:-400px;
  width:1260px;
  height:800px;
}
#u2604_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:800px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(236, 245, 255, 1);
  background-image:url('../../images/登录界面/u2604_state0.svg');
  background-position:right bottom;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
  background-origin:border-box;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2604_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2605 {
  position:absolute;
  left:390px;
  top:80px;
}
#u2605_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:480px;
  height:600px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2605_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.14901960784313725));
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u2606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:600px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u2606 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2608_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2608_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2608_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2608_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2608_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2608_input.mouseOver.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2608_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2608_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2608 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:220px;
  width:380px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u2608_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2608.mouseOver {
}
#u2608_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 2.5px rgba(64, 158, 255, 0.24705882352941178));
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2608.focused {
}
#u2608_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2608.hint {
}
#u2608_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2608.disabled {
}
#u2608_div.mouseOver.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2608.mouseOver.hint {
}
#u2608_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 2.5px rgba(64, 158, 255, 0.24705882352941178));
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2608.focused.hint {
}
#u2608_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2608.hint.disabled {
}
#u2609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#999999;
}
#u2609 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:220px;
  width:40px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#999999;
}
#u2609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#CCCCCC;
}
#u2610 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:220px;
  width:40px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#CCCCCC;
}
#u2610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2610_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:24px;
  color:#CCCCCC;
}
#u2610.selected {
}
#u2610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2612_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2612_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2612_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2612_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2612_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2612_input.mouseOver.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2612_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2612_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2612 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:290px;
  width:380px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u2612_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2612.mouseOver {
}
#u2612_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 2.5px rgba(64, 158, 255, 0.24705882352941178));
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2612.focused {
}
#u2612_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2612.hint {
}
#u2612_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2612.disabled {
}
#u2612_div.mouseOver.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2612.mouseOver.hint {
}
#u2612_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 2.5px rgba(64, 158, 255, 0.24705882352941178));
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2612.focused.hint {
}
#u2612_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2612.hint.disabled {
}
#u2613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#999999;
}
#u2613 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:290px;
  width:40px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#999999;
}
#u2613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u2614 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:290px;
  width:40px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u2614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2614_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u2614.selected {
}
#u2614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2615 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:520px;
  width:380px;
  height:40px;
  visibility:hidden;
}
#u2615_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2615_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 245, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 235, 204, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF9900;
  text-align:left;
}
#u2616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF9900;
  text-align:left;
}
#u2616 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2615_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2615_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 245, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 235, 204, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF9900;
  text-align:left;
}
#u2617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF9900;
  text-align:left;
}
#u2617 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2615_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2615_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 238, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 221, 204, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F56C6C;
  text-align:left;
}
#u2618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F56C6C;
  text-align:left;
}
#u2618 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2615_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2615_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 245, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 235, 204, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF9900;
  text-align:left;
}
#u2619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF9900;
  text-align:left;
}
#u2619 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2615_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2615_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 238, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 221, 204, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F56C6C;
  text-align:left;
}
#u2620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F56C6C;
  text-align:left;
}
#u2620 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2622_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2622_input.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2622_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2622_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2622_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2622_input.mouseOver.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2622_input.focused.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2622_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  padding:2px 2px 2px 40px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2622 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:360px;
  width:380px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u2622_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2622.mouseOver {
}
#u2622_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 2.5px rgba(64, 158, 255, 0.24705882352941178));
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2622.focused {
}
#u2622_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2622.hint {
}
#u2622_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2622.disabled {
}
#u2622_div.mouseOver.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2622.mouseOver.hint {
}
#u2622_div.focused.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(0px 0px 2.5px rgba(64, 158, 255, 0.24705882352941178));
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2622.focused.hint {
}
#u2622_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2622.hint.disabled {
}
#u2623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#999999;
}
#u2623 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:360px;
  width:56px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  color:#999999;
}
#u2623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u2624 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:360px;
  width:56px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u2624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2624_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u2624.selected {
}
#u2624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u2626 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:460px;
  width:380px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u2626 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2626_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 177, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u2626.mouseOver {
}
#u2626_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(43, 133, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u2626.mouseDown {
}
#u2626_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u2626.disabled {
  opacity:0.7;
}
#u2626_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(43, 133, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u2626.mouseOver.mouseDown {
}
#u2626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2627 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:473px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u2627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#1891FF;
  line-height:36px;
}
#u2628 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:130px;
  width:380px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#1891FF;
  line-height:36px;
}
#u2628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:inherit;
  background-color:rgba(24, 145, 255, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
}
#u2629 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:90px;
  height:90px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro', 'Font Awesome 5 Pro', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
}
#u2629 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
