body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1580px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4472 {
  position:fixed;
  left:0px;
  top:0px;
  width:1580px;
  height:50px;
}
#u4472_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.047058823529411764);
  -webkit-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.047058823529411764);
  box-shadow:0px 3px 5px rgba(0, 0, 0, 0.047058823529411764);
}
#u4472_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u4473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u4473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4476 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:890px;
  width:1260px;
  height:100px;
}
#u4477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:100px;
  display:flex;
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u4477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:100px;
}
#u4477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1520px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.047058823529411764));
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u4478 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:70px;
  width:1520px;
  height:800px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u4478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
  line-height:28px;
}
#u4479 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:340px;
  width:333px;
  height:80px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
  line-height:28px;
}
#u4479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4480 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:213px;
  width:500px;
  height:430px;
  display:flex;
  transition:none;
}
#u4480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:430px;
}
#u4480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u4481 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:468px;
  width:333px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u4481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u4482 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:515px;
  width:120px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u4482 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4482_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 177, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u4482.mouseOver {
}
#u4482_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(43, 133, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u4482.mouseDown {
}
#u4482_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u4482.disabled {
  opacity:0.7;
}
#u4482_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(43, 133, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u4482.mouseOver.mouseDown {
}
#u4482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u4483 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:418px;
  width:333px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u4483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
